body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/***************** Layout class ************************/
.custom-body{
  display:flex;  
  flex-direction: column;
  justify-content: stretch;

}

.custom-heading{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: cornsilk;
  padding: 50px;
}

.custom-content{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.notification{
  display: flex;
  justify-content: center;
}


/************************************************************/

h5{  
  display: flex;
  align-items: center;
  padding: 5px;
}

h5.success{  
  color:green;
}
h5.deleted ,h1.updated{
  color:blue;
}

h5.error{  
  color:red;
}

.custom-head{
  padding: 20px;
  text-align: center;
  background-color:burlywood;
  color:purple;
  font-size:20px;
  font-weight:bold;
  border: 2px solid red;
}

.custom-list-item{
  display: flex;
  justify-content: space-between;
}
.list-content-item{
  min-width:30px;
  align-self: center;
}
.button-group{
  text-align: center;
}

.person-form{
  display:flex;
  justify-content: center;  
  margin: 20px 0px;
}

.custom-filter{
  margin:10px 0px;
}

.custom-border{
  padding: 0px 30px;
  border:1px solid crimson;
  background-color: beige;
  border-radius: 10px;
  box-shadow: -7px 10px #e4e4cc;
}

.custom-input{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

input{
  margin-left: 20px;
}

.custom-buttom{
  text-decoration: none;
  background-color: lightblue;
  padding: 7px 10px;
  border:2px solid transparent;
  border-radius:6px;
  margin: 10px;
}

.custom-buttom:hover{
  border: 1px solid lightskyblue;
  transform: scale(1.1, 1.1);
}

.custom-buttom:focus{
  color: white;
  background-color: mediumaquamarine;
  border:none;
  
}

button.clr-button{
  border: 1px solid black;
  background-color: whitesmoke;
}

div.header-content{
  flex:1;
}
